.page-break             {display: none;}
.print-only{display: none;}
@media print {
    body                {-webkit-print-color-adjust:exact; padding: 13px}
    .page-break         {display: block; page-break-before: always;}
    
    .modal              {position:static; left:unset; right:unset; top:unset; bottom:unset; padding:0 !important}
    .modal-backdrop     {position:static; left:unset; right:unset; top:unset; bottom:unset; display: none}
    .modal-dialog       {padding: unset; margin: unset !important; width: 100% !important}

    .modal-content      {border:none !important; padding: 0 !important; margin: 0 !important; border-radius: 0 !important}
    .modal-body         {overflow:hidden !important; max-height: unset !important; padding:0 !important; margin:0 !important}
    
    .print-only{display: block; margin-bottom: 10px;}
    .tr-head-d{background-color: #bbbbbb;-webkit-print-color-adjust: exact;}
    .tr-head-l{background-color: #dddddd;-webkit-print-color-adjust: exact;}

    .sort-icons         {display:none}
}